.table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: rgb(224, 248, 229);
  }
  
.td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

.th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
.tr:nth-child(even) {
    background-color: #dddddd;
  }